* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    
  }
header {
height: 200px;
gap: 20px;
background-color: rgb(7, 83, 58);
text-align: center;
text-decoration: underline;
}


/*------MAIN------*/

#contenedorProductos{
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    gap: 10px;
    border-radius: 15px;
    padding: 10px;

}
img {
    height: 100px;
    width: 150px; 
} 

.tarjetaProducto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   height: 300px;
   width: 250px;
   padding: 20px;
   border: 2px solid black;
   border-radius: 5%;
   background-color: rgb(141, 188, 231);
   align-items: center;
   
}

 img {
    height: 100px;
    width: 150px;
 
}

.tarjetaProducto p, .pocosProductos p {
    background-color: grey;
    border: grey solid 1px;
    border-radius: 8px;
    }

.pocosProductos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   height: 300px;
   width: 250px;
   border: 2px solid black;
   border-radius: 5%;
   padding: 20px;
   background-color: rgb(175, 158, 7);
   align-items: center;
    background-color: rgb(102, 1, 1);
}



.btnAgregar {
    border: 2px solid black;
    padding: 3px;
    background-color: darkcyan;
}

#contenedorCarrito{

    display: flex;
    flex-direction: row;
    gap: 1px;
    border: 1px solid black;
    




 .tarjetaProductoCarrito{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
  height: 300px;
  width: 250px;
  padding: 20px;
  background-color: gray;

}

 
}
